name: GitHub Profile 3D Contrib

on:
  schedule:
    - cron: "30 18 * * *"    # daily (12:00 AM IST)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: Rebaka8

      - name: Commit & Push
  run: |
    git config user.name "github-actions[bot]"
    git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
    git add -A .
    git commit -m "Update 3D contribution graph" || echo "No changes"
    git push

